@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.App {
  background-color: #EAE7DC;
  font-size: 18pt;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.backdrop {
  position: fixed;
  bottom: 0;
  left: 0;
  /*right: ;*/
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  background-color: #fff;
  border-radius: 5pt;
  border-color: black;
  border-style: solid;
  margin: 0 auto;
  top: 50pt;
  height: 100pt;
  width: 200pt;
  padding: 10pt;
  position: relative;
}

.alert-buttons {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
}